USE [master]
GO
/****** Object:  Database [QLSVNhom]    Script Date: 4/14/2017 10:48:38 PM ******/
CREATE DATABASE [QLSVNhom]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSVNhom].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSVNhom]
GO
/****** Object:  Table [dbo].[BangDiem]    Script Date: 4/14/2017 10:48:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BangDiem](
	[MaSV] [varchar](20) NOT NULL,
	[MaHP] [varchar](20) NOT NULL,
	[DiemThi] [varbinary](512) NULL,
 CONSTRAINT [PK_BangDiem] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC,
	[MaHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HocPhan]    Script Date: 4/14/2017 10:48:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HocPhan](
	[MaHP] [varchar](20) NOT NULL,
	[TenHP] [nvarchar](100) NULL,
	[SoTC] [int] NULL,
 CONSTRAINT [PK_HocPhan] PRIMARY KEY CLUSTERED 
(
	[MaHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Lop]    Script Date: 4/14/2017 10:48:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Lop](
	[MaLop] [varchar](20) NOT NULL,
	[TenLop] [nvarchar](100) NOT NULL,
	[MaNV] [varchar](20) NULL,
 CONSTRAINT [PK_Lop] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 4/14/2017 10:48:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](20) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[Email] [varchar](50) NULL,
	[Luong] [varbinary](512) NULL,
	[TenDN] [nvarchar](100) NOT NULL,
	[MatKhau] [varbinary](150) NOT NULL,
	[PubKey] [varchar](20) NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 4/14/2017 10:48:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSV] [varchar](20) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [datetime] NULL,
	[DiaChi] [nvarchar](200) NULL,
	[MaLop] [varchar](20) NULL,
	[TenDN] [nvarchar](100) NOT NULL,
	[MatKhau] [varbinary](250) NOT NULL,
 CONSTRAINT [PK_SinhVien] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BangDiem] ([MaSV], [MaHP], [DiemThi]) VALUES (N'K40104007', N'HP001', 0x03D109A7B29329F7F5EA82975ACB609ADA60F19220B40196A6ED7018E8B8385F9614207A73238D1F7A497579C0FE7469AB0BFCDBE3E97121916C7E27F669008F)
INSERT [dbo].[HocPhan] ([MaHP], [TenHP], [SoTC]) VALUES (N'HP001', N'HP01 ne', 3)
INSERT [dbo].[Lop] ([MaLop], [TenLop], [MaNV]) VALUES (N'LOP01', N'Lop 1', N'NV0001')
INSERT [dbo].[Lop] ([MaLop], [TenLop], [MaNV]) VALUES (N'LOP02', N'Lop 2', N'NV0001')
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [Email], [Luong], [TenDN], [MatKhau], [PubKey]) VALUES (N'NV0001', N'Ho Thanh Binh', N'binh@gmail.com', 0x557077433730425244445269682B38354948694C753358596D72442B336178584E625A34784B692B5777517341384D45774A50757631374F4D39387150544E6E5635666941794F51612B5951797835564555517262773D3D, N'nhanvien01', 0x43354243464230464145434239353939313932384642464343413346344230393336423543303344, N'NV0001')
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [Email], [Luong], [TenDN], [MatKhau], [PubKey]) VALUES (N'NV0002', N'Nguyen Ho Phuong', N'phuonggay@gmail.com', 0x4A497055577A6D6C35474462794B443067357364514633627362316278564A3135303966316966786C512B6837712F536C432F324B4950624934424653523773626D71396E6633786B4370632F6D32374656507351513D3D, N'nhanvien02', 0x43463437393546433642324642304546423536333932413336423244393539443442334632334438, N'NV0002')
INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [NgaySinh], [DiaChi], [MaLop], [TenDN], [MatKhau]) VALUES (N'K40104007', N'Ho Thanh Binh', CAST(N'2017-04-14 22:44:59.140' AS DateTime), N'Q.Binh Tan', N'LOP01', N'K40104007', 0x43354243464230464145434239353939313932384642464343413346344230393336423543303344)
INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [NgaySinh], [DiaChi], [MaLop], [TenDN], [MatKhau]) VALUES (N'K40104105', N'Nguyen Ho Phuong', CAST(N'1996-04-04 20:41:34.000' AS DateTime), N'Q9 HCM', N'LOP02', N'K40104007', 0x43463437393546433642324642304546423536333932413336423244393539443442334632334438)
ALTER TABLE [dbo].[BangDiem]  WITH CHECK ADD  CONSTRAINT [FK_BangDiem_HocPhan] FOREIGN KEY([MaHP])
REFERENCES [dbo].[HocPhan] ([MaHP])
GO
ALTER TABLE [dbo].[BangDiem] CHECK CONSTRAINT [FK_BangDiem_HocPhan]
GO
ALTER TABLE [dbo].[BangDiem]  WITH CHECK ADD  CONSTRAINT [FK_BangDiem_SinhVien] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
GO
ALTER TABLE [dbo].[BangDiem] CHECK CONSTRAINT [FK_BangDiem_SinhVien]
GO
ALTER TABLE [dbo].[Lop]  WITH CHECK ADD  CONSTRAINT [FK_Lop_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[Lop] CHECK CONSTRAINT [FK_Lop_NhanVien]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_Lop] FOREIGN KEY([MaLop])
REFERENCES [dbo].[Lop] ([MaLop])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_Lop]
GO
/****** Object:  StoredProcedure [dbo].[SP_GETBYMANV_PUBLIC_ENCRYPT_NHANVIEN]    Script Date: 4/14/2017 10:48:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GETBYMANV_PUBLIC_ENCRYPT_NHANVIEN]
@MaNV nvarchar(20)
AS BEGIN
	SELECT MaNV, HoTen, Email, CONVERT(varchar(250), Luong) as Luong,TenDN, CONVERT(varchar(250), MatKhau) as MatKhau, PubKey 
	FROM NhanVien
	WHERE MaNV = @MaNV
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GETBYUSERNAMEANDPASS_PUBLIC_ENCRYPT_NHANVIEN]    Script Date: 4/14/2017 10:48:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROC [dbo].[SP_GETBYUSERNAMEANDPASS_PUBLIC_ENCRYPT_NHANVIEN]
	@TENDN nvarchar(100),
	@MATKHAU varchar(250)
AS BEGIN
	SELECT MaNV, HoTen, Email, CONVERT(varchar(250), Luong) as Luong,TenDN, CONVERT(varchar(250), MatKhau) as MatKhau, PubKey
	FROM NhanVien 
	WHERE TenDN = @TENDN AND CONVERT(varchar(250), MatKhau) = @MATKHAU
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INS_ENCRYPTED_SINHVIEN]    Script Date: 4/14/2017 10:48:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[SP_INS_ENCRYPTED_SINHVIEN] 
	@MASV nvarchar(20),
	@HOTEN nvarchar(100),
	@NGAYSINH DATETIME,
	@DIACHI nvarchar(200),
	@MALOP varchar(20),
	@TENDN nvarchar(100),
	@MATKHAU varchar(250)
AS BEGIN
	DECLARE @MK varbinary(250)
	SET @MK =  CONVERT(varbinary(250), @MATKHAU)
	INSERT INTO SinhVien(MaSV, HoTen, NgaySinh, DiaChi, MaLop, TenDN, MatKhau) VALUES(@MASV, @HOTEN, @NGAYSINH, @DIACHI, @MALOP, @TENDN, @MK)
end
GO
/****** Object:  StoredProcedure [dbo].[SP_INS_PUBLIC_ENCRYPT_NHANVIEN]    Script Date: 4/14/2017 10:48:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_INS_PUBLIC_ENCRYPT_NHANVIEN] 
@MaNV varchar(20),
@HoTen nvarchar(100),
@Email varchar(50),
@Luong varchar(100),
@TenDN nvarchar(100),
@MatKhau varchar(250),
@PubKey varchar(20)
AS BEGIN

DECLARE @MK varbinary(250)
SELECT @MK =  CONVERT(varbinary(250), @MatKhau)
DECLARE @L varbinary(250)
SELECT @L =  CONVERT(varbinary(250), @Luong)

INSERT INTO [dbo].[NhanVien]
           ([MaNV]
           ,[HoTen]
           ,[Email]
           ,[Luong]
           ,[TenDN]
           ,[MatKhau]
		   ,[PubKey])
     VALUES
           (@MaNV
           ,@HoTen
           ,@Email
           ,@L
           ,@TenDN
           ,@MK
		   ,@PubKey)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SEL_PUBLIC_ENCRYPT_NHANVIEN]    Script Date: 4/14/2017 10:48:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROC [dbo].[SP_SEL_PUBLIC_ENCRYPT_NHANVIEN]
AS BEGIN
	SELECT MaNV, HoTen, Email, CONVERT(varchar(250), Luong) as Luong ,TenDN, CONVERT(varchar(250), MatKhau) as MatKhau, PubKey FROM NhanVien
END

GO
/****** Object:  StoredProcedure [dbo].[SP_UPD_ENCRYPTED_SINHVIEN]    Script Date: 4/14/2017 10:48:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[SP_UPD_ENCRYPTED_SINHVIEN] 
	@MASV nvarchar(20),
	@HOTEN nvarchar(100),
	@NGAYSINH DATETIME,
	@DIACHI nvarchar(200),
	@MALOP varchar(20),
	@TENDN nvarchar(100),
	@MATKHAU varchar(250)
AS BEGIN
	DECLARE @MK varbinary(250)
	SET @MK =  CONVERT(varbinary(250), @MATKHAU)
	UPDATE [dbo].[SinhVien]
	   SET [HoTen] = @HOTEN
		  ,[NgaySinh] = @NGAYSINH
		  ,[DiaChi] = @DIACHI
		  ,[MaLop] = @MALOP
		  ,[TenDN] = @TENDN
		  ,[MatKhau] = @MK
	 WHERE MaSV = @MASV
end
GO
USE [master]
GO